{% extends 'base.html' %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/create_offer.css' %}">
{% endblock %}

{% block content %}
<!-- Header Start -->
<div class="jumbotron jumbotron-fluid page-header">
    <div class="container text-center py-5">
        <h1 class="text-white display-3 mt-lg-5">Crear Oferta</h1>
        <div class="d-inline-flex align-items-center text-white">
            <p class="m-0"><a class="text-white" href="">Inicio</a></p>
            <i class="fa fa-circle px-3"></i>
            <p class="m-0 text-white">Creación Oferta</p>
        </div>
    </div>
</div>
<!-- Header End -->
{% if messages %}
<!-- Notificación de error -->
{% for message in messages %}
{% if message.tags == "error" %}
<div class="alert alert-danger">
    <p>{{ message }}</p>
</div>
{% endif %}
{% if message.tags == "success" %}
<div class="alert alert-info">
    <p>{{ message }}</p>
</div>
{% endif %}
{% endfor %}
{% endif %}
<div class="contact-form-bg">
    <div class="card card-form mx-auto">
        <div class="card-body">
            <h2 class="card-title">Crear Oferta</h2>
            <form action="{% url 'create_offer' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nombreOferta" class="form-label">Nombre Oferta</label>
                    <input type="text" class="form-control" id="nombreOferta" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="detalle" class="form-label">Detalle / Eslogan</label>
                    <input type="text" class="form-control" id="detalle" name="detail" required>
                </div>
                <div class="mb-3">
                    <label for="precio" class="form-label">Precio</label>
                    <input type="text" class="form-control" id="precio" name="price" required>
                </div>
                <div class="mb-3">
                    <label for="info" class="form-label">URL para más información (opcional)</label>
                    <input type="text" class="form-control" id="info" name="moreinfo">
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <textarea class="form-control" id="descripcion" rows="3" name="description" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="tipoOferta" class="form-label">Tipo Oferta</label>
                    <select class="form-select" id="tipoOferta" name="offer_type" required>
                        <option value="">Seleccione...</option>
                        <option value="1">General</option>
                        <option value="2">Slider</option>
                        <option value="3">Oferta Principal</option>
                        <option value="4">Destino Principal</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Ubicación Menú</label>
                    <select class="form-select" id="location" name="location_menu" required>
                        <option value="">Seleccione...</option>
                        <option value="1">General</option>
                        <option value="2">Nacional</option>
                        <option value="3">Internacional</option>
                        <option value="4">Alojamiento</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="imagenPrincipal" class="form-label">Cargar Imagen Principal</label>
                    <div id="drop-zone-principal" class="drop-zone">
                        <input type="file" class="form-control" id="imagenPrincipal" name="main_image" accept="image/*">
                        <span>Arrastra y suelta tu imagen aquí o haz clic para seleccionar</span>
                    </div>

                    <div id="preview-container-principal" class="mt-2">
                        <img id="imagePreviewPrincipal" src="" alt="Vista previa imagen principal" class="img-fluid"
                            style="display:none; width: 100%; max-width: 300px;">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="imagenesCarrusel" class="form-label">Cargar Galería de Imágenes(máximo 3)</label>
                    <div id="drop-zone-carrusel" class="drop-zone">
                        <input type="file" class="form-control" id="imagenesCarrusel" name="galery_image"
                            accept="image/*" multiple>
                        <span>Arrastra y suelta tus imágenes aquí o haz clic para seleccionar</span>
                    </div>
                    <div id="preview-container-carrusel" class="mt-2">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>>


{% endblock %}