{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/offer-detail.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid page-header">
    <div class="container text-center py-5">
        <h1 class="text-white display-3 mt-lg-5">Nuestras Ofertas</h1>
        <div class="d-inline-flex align-items-center text-white">
        </div>
    </div>
</div>

<!-- Detail Start -->
{% for detail in detail_offer %}
<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">
                    <div class="d-flex mb-2">
                        <span class="text-secondary text-uppercase font-weight-medium" href="">Ofertas</span>
                        <span class="text-primary px-2">|</span>
                        <span class="text-secondary text-uppercase font-weight-medium" href="">Alojamientos</span>
                        <!-- <span class="text-primary px-2">|</span>
                        <span class="text-secondary text-uppercase font-weight-medium" href="">Vacaciones</span> -->
                    </div>
                    
                    <span class="price py-2" href="#">${% if detail.price %}{{ detail.price|floatformat:0 }}{% else %}No aplica{% endif %}
                    </span>
                    <h1 class="section-title mb-3" style="font-size: 35px;">{{detail.name}}
                    </h1>
                    <div class="options">
                        <a class="btn btn-sm btn-primary py-2" href="{% url 'contact' %}">Realizar Cotización</a>
                        <a class="btn btn-sm btn-primary py-2" href="{% if detail.more_information %}{{ detail.more_information }}{% else %}#{% endif %}">Más información</a>
                    </div>
                </div>

                <div class="mb-5">
                    <img class="img-fluid rounded w-100 mb-4" src="{% static 'img/offers/main/' %}{{ detail.main_image}}"
                        alt="Image">
                    <p>{{detail.detail}}</p>
                    <p>{{detail.description}}</p>
                </div>
                {% endfor %}
            </div>

            <div class="col-lg-4 mt-5 mt-lg-0">
                <h3 class="mb-4 section-title">Conoce Más</h3>
                {% for image in gallery_images %}
                <div class="mb-3">
                    <img src="{% static 'img/offers/gallery/' %}{{ image.name }}"alt="" class="img-fluid rounded fixed-size-image">
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
    <!-- Detail End -->
    {% endblock %}