{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/offers.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid page-header">
    <div class="container text-center py-5">
        <h1 class="text-white display-3 mt-lg-5">Nuestras Ofertas</h1>
        <div class="d-inline-flex align-items-center text-white">
        </div>
    </div>
</div>
<!-- Offers Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <h6 class="text-primary text-uppercase font-weight-bold">Viajes</h6>
            <h1 class="mb-4">El Mundo A Tu Alcance</h1>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="{% static 'img/san_andresjpeg.jpeg' %}" alt="">
                    <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle"
                        style="width: auto; height: 60px; bottom: -30px; right: 30px; padding: 10px;">
                        <h4 class="font-weight-bold mb-n1">$50.000</h4>
                        <small class="text-white text-uppercase">Jan</small>
                    </div>
                </div>
                <div class="bg-secondary" style="padding: 30px;">
                    <div class="d-flex mb-3">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" style="width: 40px; height: 40px;"
                                src="{% static 'img/icons/playa-icono.png' %}" alt="">
                        </div>
                        <div class="d-flex align-items-center ml-4">
                            <i class="far fa-bookmark text-primary"></i>
                            <a class="text-muted ml-2" href="">Playas</a>
                        </div>
                    </div>
                    <h4 class="font-weight-bold mb-3">San Andres</h4>
                    <p>Descripción básica de la oferta.</p>
                    <a class="border-bottom border-primary text-uppercase text-decoration-none"
                        href="{% url 'offer-detail' %}">Ver más <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="{% static 'img/cali.jpg' %}" alt="">
                    <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle"
                        style="width: auto; height: 60px; bottom: -30px; right: 30px; padding: 10px;">
                        <h4 class="font-weight-bold mb-n1">$469.000</h4>
                        <small class="text-white text-uppercase">Jan</small>
                    </div>
                </div>
                <div class="bg-secondary" style="padding: 30px;">
                    <div class="d-flex mb-3">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" style="width: 40px; height: 40px;"
                                src="{% static 'img/icons/ciudad-icono.png' %}" alt="">
                        </div>
                        <div class="d-flex align-items-center ml-4">
                            <i class="far fa-bookmark text-primary"></i>
                            <a class="text-muted ml-2" href="">Urbano</a>
                        </div>
                    </div>
                    <h4 class="font-weight-bold mb-3">Cali</h4>
                    <p>Descripción básica de la oferta.</p>
                    <a class="border-bottom border-primary text-uppercase text-decoration-none"
                        href="{% url 'offer-detail' %}">Ver más <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="{% static 'img/cartagena.jpg' %}" alt="">
                    <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle"
                        style="width: auto; height: 60px; bottom: -30px; right: 30px; padding: 10px;">
                        <h4 class="font-weight-bold mb-n1">$1'000.000</h4>
                        <small class="text-white text-uppercase">Jan</small>
                    </div>
                </div>
                <div class="bg-secondary" style="padding: 30px;">
                    <div class="d-flex mb-3">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" style="width: 40px; height: 40px;"
                                src="{% static 'img/icons/rural-icono.png' %}" alt="">
                        </div>
                        <div class="d-flex align-items-center ml-4">
                            <i class="far fa-bookmark text-primary"></i>
                            <a class="text-muted ml-2" href="">Rural</a>
                        </div>
                    </div>
                    <h4 class="font-weight-bold mb-3">Amazonas</h4>
                    <p>Descripción básica de la oferta.</p>
                    <a class="border-bottom border-primary text-uppercase text-decoration-none"
                        href="{% url 'offer-detail' %}">Ver más <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="{% static 'img/medellin.avif' %}" alt="">
                    <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle"
                        style="width: auto; height: 60px; bottom: -30px; right: 30px; padding: 10px;">
                        <h4 class="font-weight-bold mb-n1">$856.000</h4>
                        <small class="text-white text-uppercase">Jan</small>
                    </div>
                </div>
                <div class="bg-secondary" style="padding: 30px;">
                    <div class="d-flex mb-3">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" style="width: 40px; height: 40px;"
                                src="{% static 'img/icons/playa-icono.png' %}" alt="">
                        </div>
                        <div class="d-flex align-items-center ml-4">
                            <i class="far fa-bookmark text-primary"></i>
                            <a class="text-muted ml-2" href="">Playas</a>
                        </div>
                    </div>
                    <h4 class="font-weight-bold mb-3">Cartagena</h4>
                    <p>Descripción básica de la oferta.</p>
                    <a class="border-bottom border-primary text-uppercase text-decoration-none"
                        href="{% url 'offer-detail' %}">Ver más <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="{% static 'img/guarija.jpeg' %}" alt="">
                    <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle"
                        style="width: auto; height: 60px; bottom: -30px; right: 30px; padding: 10px;">
                        <h4 class="font-weight-bold mb-n1">$1'789.000</h4>
                        <small class="text-white text-uppercase">Jan</small>
                    </div>
                </div>
                <div class="bg-secondary" style="padding: 30px;">
                    <div class="d-flex mb-3">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" style="width: 40px; height: 40px;"
                                src="{% static 'img/icons/playa-icono.png' %}" alt="">
                        </div>
                        <div class="d-flex align-items-center ml-4">
                            <i class="far fa-bookmark text-primary"></i>
                            <a class="text-muted ml-2" href="">Playas</a>
                        </div>
                    </div>
                    <h4 class="font-weight-bold mb-3">La Guarija</h4>
                    <p>Descripción básica de la oferta.</p>
                    <a class="border-bottom border-primary text-uppercase text-decoration-none"
                        href="{% url 'offer-detail' %}">Ver más <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="{% static 'img/santa_marta.jpg' %}" alt="">
                    <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle"
                        style="width: auto; height: 60px; bottom: -30px; right: 30px; padding: 10px;">
                        <h4 class="font-weight-bold mb-n1">$3'239.300</h4>
                        <small class="text-white text-uppercase">Jan</small>
                    </div>
                </div>
                <div class="bg-secondary" style="padding: 30px;">
                    <div class="d-flex mb-3">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" style="width: 40px; height: 40px;"
                                src="{% static 'img/icons/rural-icono.png' %}" alt="">
                        </div>
                        <div class="d-flex align-items-center ml-4">
                            <i class="far fa-bookmark text-primary"></i>
                            <a class="text-muted ml-2" href="">Rutal</a>
                        </div>
                    </div>
                    <h4 class="font-weight-bold mb-3">Santa Marta</h4>
                    <p>Descripción básica de la oferta.</p>
                    <a class="border-bottom border-primary text-uppercase text-decoration-none"
                        href="{% url 'offer-detail' %}">Ver más <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offers End -->
{% endblock %}