{% extends 'base.html' %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/trazability.css' %}">
{% endblock %}

{% block content %}
<!-- Header Start -->
<div class="jumbotron jumbotron-fluid page-header">
    <div class="container text-center py-5">
        <h1 class="text-white display-3 mt-lg-5">Trazabilidad-Mails</h1>
        <div class="d-inline-flex align-items-center text-white">
            <p class="m-0"><a class="text-white" href="">Inicio</a></p>
            <i class="fa fa-circle px-3"></i>
            <p class="m-0 text-white">Trazabilidad</p>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Trazabilidad Start -->
<!-- Filtro de fechas -->
<div class="main-container">
    <div class="filter-container">
        <form method="GET" action="{% url 'trazability' %}">
            <label for="start_date">Fecha de inicio:</label>
            <input type="date" id="start_date" name="start_date" value="{{ request.GET.start_date }}">
        
            <label for="end_date">Fecha de fin:</label>
            <input type="date" id="end_date" name="end_date" value="{{ request.GET.end_date }}">
        
            <button class="filter-btn" type="submit">Filtrar</button>
        </form>
    </div>
    
    <!-- Tabla -->
    <table class="message-table">
        <thead>
            <tr>
                <th>Nombre Remitente</th>
                <th>Correo</th>
                <th>Asunto</th>
                <th>Mensaje</th>
                <th>Fecha de Envío</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.subject }}</td>
                <td>{{ contact.message }}</td>
                <td>{{ contact.created_at|date:"d/m/Y" }}</td>
                <td><button class="btn-detail"><span>🔍</span> Más detalle</button></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No hay mensajes disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <!-- Trazabilidad End -->
    {% endblock %}