.contact-form-bg {
    background-color: rgba(247, 247, 247, 0.678);
}

.btn-primary {
    color: #212529;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    color: #212529;
    background-color: var(--btn-hover);
    border-color: var(--btn-hover);
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
    margin-bottom: 60px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-body {
    padding: 1.5rem;
}

.card-title {
    font-size: 1.4rem;
    color: var(--primary);
    font-weight: 600;
}

.card-text {
    font-size: 1.2rem;
    color: #333;
    -webkit-text-fill-color: #333;
}

.card-form {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.card-form:hover {
    transform: translateY(-5px);
}
.page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/sections/contact.png), no-repeat center center;
    background-size: cover;
  }
.form-control p{
    display: table-caption !important;
}