.main-destination {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-container .container-main-destination {
  background-color: var(--transparent);
}

.main-offer h5 {
  color: var(--primary);
  font-weight: bold;
}

.main-offer p {
  color: var(--text-btn-2);
}

/* Slider */
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .navbar-light {
    border-radius: 60px;
  }

  #header-carousel,
  .page-header {
    margin-top: -65px;

  }
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

/* .carousel-container{
z-index: -4;
 }   */
/* Estilo del carousel */
.carousel-container {
  position: relative;
  /* Asegura que el carousel se posicione de forma libre */
  top: 0;
  left: 0;
  width: 100%;
  /*height: 100vh !important;   Altura completa de la ventana */
  z-index: 3;
  /* Coloca el carousel detrás de todo */
  overflow: hidden;
}

/* Estilo del menú principal */
.nav-bar {
  position: relative;
  /* Asegura que el menú tenga un contexto para apilar */
  z-index: 4;
  /* Hace que el menú se apile encima del carousel */
}

/* Estilo para el contenido del menú principal */
.principal-menu {
  position: relative;
  /* Asegura que el menú pueda ser apilado correctamente */
  z-index: 4;
  /* Asegura que el menú se quede por encima */
}

/* Establecer una altura fija para las imágenes del carrusel */
.carousel-img {
  height: 600px;
  /* Ajusta la altura según tus necesidades */
  object-fit: cover;
  /* Asegura que la imagen se recorte adecuadamente */
  filter: brightness(50%)
}

/* Ajusta el contenedor del carrusel para mantener la consistencia */
.carousel-item {
  height: 600px !important;
  /* Asegura que cada elemento del carrusel tenga la misma altura */
}

/* Opcional: Asegúrate de que el texto del carrusel no se desborde */
.carousel-caption {
  /* bottom: 20px;  */
  top: 200px !important;
  /* Ajusta la posición del texto si es necesario */
}

.service-item .content {
  /* background-color: red;
    height: 344px; */
}

/*Tarjetas sugeridas por el cliente */
.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}

.card-planning {
  display: flex;
  background-color: #f7f7f7;
  border-radius: 10px;
  width: 350px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card-planning:hover {
  transform: scale(1.05);
}

.card-image {
  flex-shrink: 0;
  width: 150px;
  height: 100%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding-left: 20px;
}

.card-planning h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.card-planning p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.card-planning a {
  display: inline-block;
  background-color: var(--primary);
  color: var(--light);
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.card-planning a:hover {
  background-color: var(--primary);
  color: var(--light);
}

/* Sección de imágenes fijas con efecto dinámico */
.image-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  /* Permite que las imágenes se acomoden en filas si es necesario */
  margin: 20px 0;
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
}

.image-card {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px;
}

/* Efecto al pasar el cursor */
.image-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responde bien en pantallas más pequeñas */
@media (max-width: 768px) {
  .image-cards {
    flex-direction: column;
    align-items: center;
  }

  .image-card {
    width: 90%;
    /* Reduzca el tamaño de las imágenes en pantallas pequeñas */
  }
}
