.page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/medellin.avif), no-repeat center center;
    background-size: cover;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    max-height: 300px;
}

.text-price {
    color: #fff;
}