.main-container {
    max-width: 1200px;
    /* Ancho máximo para el contenedor */
    margin: 0 auto;
    /* Centra el contenedor en la página */
    padding: 20px;
    /* Espaciado interior para no estar pegado al borde */
    background-color: white;
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
}

.filter-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.filter-container label {
    font-size: 14px;
    font-weight: bold;
}

.filter-container input {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media (max-width: 991px) {
    .filter-container {
        flex-direction: column;
    }
}

.filter-btn {
    background-color: var(--secondary);
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.filter-btn:hover {
    background-color: var(--warning)
}

/* Estilo de la tabla */
.message-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--light);
    margin-top: 20px;
}


.message-table thead {
    background-color: var(--primary);
    color: white;
}

.message-table th,
.message-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.message-table tbody tr:hover {
    background-color: #f1f1f1;
}

.btn-detail {
    background-color: var(--secondary);
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-detail span {
    font-size: 16px;
}

.btn-detail:hover {
    background-color: var(--warning);
}

.message-table th:first-child,
.message-table td:first-child {
    border-top-left-radius: 10px;
}

.message-table th:last-child,
.message-table td:last-child {
    border-top-right-radius: 10px;
}

.message-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.message-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/sections/offers-panel.png), no-repeat center center;
    background-size: cover;
}

/* Tabla responsiva */
@media (max-width: 768px) {
    .message-table {
        display: block;
        /* Permite que el contenedor sea desplazable */
        overflow-x: scroll;
        /* Habilita el desplazamiento horizontal */
        white-space: nowrap;
        /* Evita que las filas se envuelvan */
    }
}