.page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/medellin.avif), no-repeat center center;
    background-size: cover;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    max-height: 300px;
}

.price {
    max-width: 200px;
    height: auto;
    background-color: var(--tertiary);
    color: var(--text-secondary);
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover para el botón */
.price:hover {
    background-color: #d32f2f;
    color: white;
    cursor: default;
    /* Más oscuro al pasar el cursor */
    transform: scale(1.1);
    /* Pequeño efecto de zoom */
}

/* Efecto activo (al hacer clic) */
.price:active {
    transform: scale(0.95);
    /* Reducir un poco al presionar */
}

.options {
    display: flex;
}

.options a {
    margin-left: 10px;
    transition: 0.5s;
}

.options a:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}


@media (max-width: 991px) {
    .options {
        flex-direction: column;
    }

    .options a {
        margin-left: 0;
        margin-top: 10px;
    }
}